body {
    background-color: #233142;
    color: #e3e3e3;
}

h1 {
    color: #f95959;
}

#div {
    background-color: #455d7a;
    border-style: groove;
}

#woah {
    font-size: 130px;
    font-family: sans-serif;
    color: bisque;
}
